<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<a class="nav-item nav-link" href="/createEvent">
  <button class="btn btn-primary" id="create-event">Create New Event</button>
</a>

{{#if user.events.length}}
<div class="col-md-6 event-list">
  <h3>Current Events:</h3>
  {{#each user.events as |event|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/event/{{event.id}}">{{event.name}}</a></h4>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>
<script src="/js/delete.js"></script>